<div ng-include="'components/navbar/navbar.html'"></div>
  
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>night | Life</h1>
    <p class="lead">powered by</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman" class="powered-by">
    <img src="assets/images/mongodb.png" alt="mongoDB logo" class="powered-by">
    <img src="assets/images/express.png" alt="ExpressJS logo" class="powered-by">
    <img src="assets/images/angular.png" alt="angularJS logo" class="powered-by">
    <img src="assets/images/node.png" alt="nodeJS logo" class="powered-by">
  </div>
</header>

<main class="container" ng-switch="step">
  <div class="text-center" ng-switch-when="1">
    <h1>Search</h1>
    <form role="form" id="search-group" >
      <div class="form-group">
        <label for="location">Location</label>
        <input name="location" type="text" ng-model="location" class="form-control">

        <label for="term">Search Term</label>
        <input name="term" type="text" ng-model="term" class="form-control">
      </div>
      <div class="form-group">
        <input type="button" class="btn btn-success form-control" value="Submit" ng-click="yelp(location, term)" ng-disabled="!location || !term">
      </div>
    </form>
  </div>
  <div ng-switch-when="2">
    <button class="btn btn-default btn-block" ng-click="resetSearch()">New Search</button>
    <div class="business well" ng-repeat="business in businesses">
      <div class="img-div">
        <img ng-src="{{business.image_url}}" alt="" class="">
      </div>
      <div class="title-div">
        <h2>{{business.name}}</h2>
        <p>{{business.location.display_address.join(", ")}}</p>
      </div>
      <div class="content-div">
        <p>{{business.snippet_text}}</p>
        <button class="btn btn-primary pull-right" ng-click="attend(business.id, business.going, $index)" ng-disabled="!isLoggedIn() || plans === undefined" ng-show="plans === undefined || plans.indexOf(business.id) < 0">GOING {{business.going}}</button>
        <button class="btn btn-danger pull-right" ng-click="cancel(business.id, business.going, $index)" ng-disabled="!isLoggedIn()" ng-show="plans.indexOf(business.id) >= 0">CANCEL {{business.going}}</button>
        <button class="btn btn-danger pull-right" ng-click="open(business.url)">View on Yelp</button>
        <p><img ng-src="{{business.rating_img_url}}" alt=""> ({{business.review_count}})</p>
      
      </div>
    </div>

  </div>

</main>



<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.1.1 |
        <a href="https://twitter.com/lawlietblack">@lawlietblack</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
