.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  margin-bottom:20px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #232369;
}
.powered-by {
  height:100px;
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}

.navbar-text {
  margin-left: 15px;
}

#search-group {
  max-width: 400px;
  margin:20px auto;
}

input.form-control[type=text] {
  background-color: #000;
  color:#fff;
}
main {
  margin:40px auto;
}
.well {
  padding:10px;
}
.img-div {
  height:100px;
  width:100px;
  float:left;
}
.title-div {
  display:block;
  padding-left:120px;
  width:calc(100%-120px);
}
.title-div h2 {
  margin: 10px 0
}
.content-div {
  margin-top:20px;
  margin-bottom:20px;
}
.btn {
  margin:4px;
}